<app-menu></app-menu>
<div class="page-content">
    <h1>Comentarios y sugerencias</h1>
    <mat-tab-group dynamicHeight class="history">
      <mat-tab label="Comentarios"> 
        <div class="container">
          <div class="selectFilter">
            <div class="float-box">
              <span class="text-select">Seleccione como desea ver los comentarios</span>
            </div>
            <div class="float-box">
              <select [(ngModel)]="opcionElegidaComentario" class="form-control" (change)="filtroComentarios(opcionElegidaComentario)">
                <option *ngFor="let opciones of filtrosComentarios" [ngValue]="opciones">{{ opciones.descripcion }}</option>
              </select>
            </div>
          </div>
          <mat-card class="peticion-card" *ngFor="let comentario of listaComentarios" style="margin-top:10px;">
            <mat-card-header>
                <mat-card-title> {{comentario.email}} </mat-card-title>
                <mat-card-subtitle> Asunto: {{comentario.asunto}}</mat-card-subtitle>
                <mat-card-subtitle> Publicado: {{comentario.fecha | date :'dd/MM/yyyy hh:mm:ss'}}</mat-card-subtitle>
            </mat-card-header>
            <!--<mat-card-content>
              <p>
              Pulse aquí para ver los detalles de la petición
              </p>
            </mat-card-content>-->
            <mat-card-actions class="ml-3">
              <button mat-button>
                <mat-icon (click)="detalleComentario(comentario)">Ver detalles</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
  
      <mat-tab label="Sugerencias"> 
        <div class="container">
          <div class="selectFilter">
            <div class="float-box">
              <span class="text-select">Seleccione como desea ver las sugerencias</span>
            </div>
            <div class="float-box">
              <select [(ngModel)]="opcionElegidaSugerencia" class="form-control" (change)="filtroSugerencia(opcionElegidaSugerencia)">
                <option *ngFor="let opciones of filtroSugerencias" [ngValue]="opciones">{{ opciones.descripcion }}</option>
              </select>
            </div>
          </div>
          <mat-card class="peticion-card" *ngFor="let sugerencia of listaSugerencias" style="margin-top:10px;">
            <mat-card-header>
                <mat-card-title>{{sugerencia.email}}</mat-card-title>
                <mat-card-subtitle> Asunto: {{sugerencia.asunto}}</mat-card-subtitle>
                <mat-card-subtitle> Publicado: {{sugerencia.fecha | date :'dd/MM/yyyy hh:mm:ss'}}</mat-card-subtitle>
            </mat-card-header>
            <!--<mat-card-content>
              <p>
              Pulse aquí para ver los detalles de la petición
              </p>
            </mat-card-content>-->
            <mat-card-actions class="ml-3">
              <button mat-button>
                <mat-icon (click)="detalleSugerencia(sugerencia)">Ver detalles</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
</div>
