<app-menu></app-menu>
<div class="page-content">
    <mat-tab-group dynamicHeight class="history">
      <mat-tab label="Comentarios"> 
        <h5>Comentarios</h5>
        <mat-card>
          <mat-card-content>
            <div class="container">
              <table class="table">
                <tr>
                </tr>
            </table>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
  
      <mat-tab label="Sugerencias"> 
        <h5>Sugerencias</h5>
        <mat-card>
          <mat-card-content>
            <div class="container">
              <table class="table">
                <tr>
                </tr>
            </table>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
</div>
