<mat-card class="example-card"> 
    <mat-card-header> 
        <mat-card-title>cliente@gmail.com</mat-card-title> 
        <mat-card-subtitle>Publicado: 12/03/2021</mat-card-subtitle> 
        <mat-card-subtitle>Asunto: Buen servicio</mat-card-subtitle> 
    </mat-card-header> 
  
    <mat-card-content> 
        <p> 
            Tengo el agrado de informar que fue un buen servicio 
            por parte del conductor registrado en la aplicación. 
        </p> 
    </mat-card-content> 
  
    <mat-card-actions> 
        <button mat-button mat-dialog-close style= "background-color:blue; color:white">Ok</button>
    </mat-card-actions> 
</mat-card>
