<mat-card class="example-card"> 
    <mat-card-header> 
        <mat-card-title>{{data.data.email}}</mat-card-title> 
        <mat-card-subtitle>Asunto: {{data.data.asunto}}</mat-card-subtitle> 
        <mat-card-subtitle>Publicado: {{data.data.fecha | date :'dd/MM/yyyy hh:mm:ss'}}</mat-card-subtitle> 
    </mat-card-header> 
  
    <mat-card-content class="ml-3"> 
            {{data.data.comment}}
    </mat-card-content> 
  
    <mat-card-actions class="ml-3"> 
        <button 
        mat-raised-button color="primary" 
        (click) = "revisadoComentarioSugerencia()"
        style= "background-color:blue; color:white">Ok</button>
    </mat-card-actions> 
</mat-card>
