<div class="vertical-nav" id="sidebar">
    <div class="py-4 px-3" id="informationAdmin">
        <img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
        <div class="media-body">
            <h4 >{{correoAdmin}}</h4>
            <p class="font-weight-light mb-0">{{nombreAdmin}}</p>
        </div>
    </div>
        
    <div class="vertical-menu">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        <a class="nav-link" routerLink="/usuarios">Usuarios</a>
        <a class="nav-link" routerLink="/proveedor">Proveedores</a>
        <a class="nav-link" routerLink="/empresa">Empresa</a>
        <a class="nav-link" routerLink="/historial">Historiales</a>
        <a class="nav-link" routerLink="/comentarios-sugerencias">Comentarios y Sugerencias</a>
        <a class="nav-link" routerLink="/mapa">Mapa</a>
        <a class="nav-link" routerLink="/chat">Chat</a>
        <a class="nav-link" routerLink="/administrador">Administrador</a>
    </div>                    
</div>



<div class="page-content" id="content">
   <div id="header">
            <img id="logo" src="assets/iconos/efletex-blanco.png" alt="logo" width="300" height="86">
            <!--<img class="img-chat" src="./assets/iconos/chat_activo.png" >-->
        <button class="logout"  id="cerrar"(click)="logout()">Cerrar sesión</button>
    </div>
    
</div>
