<h1>Historial Servicios</h1>
<form [formGroup]="firstFormGroup" >
    <div class="container">
        <table class="table">
            <tr>
                <td><h5>Nombre </h5></td>
                <td><input readonly="true" type="text" formControlName="nameTypeService"></td> 
                <td><h5>Descripción </h5></td>
                <td><input readonly="true" type="text" formControlName="descriptionTypeService"></td> 
            </tr>           
            
        </table>
    </div>
    <h3>Servicios por el tipo</h3>
    <div class="container">
        <table class="tabla-servicios">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Conductor</th>    
                    <th>Punto de partida</th>            
                    <th>Punto de llegada</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let servicio of serviciosPorTipo">
                    <td>{{servicio.startDate |  date:'M/d/yy, h:mm a'}}</td>
                    <td>
                        {{servicio.idClientService.userClient.first_name}}
                        {{servicio.idClientService.userClient.last_name}}
                    </td>   
                    <td *ngIf="servicio.idDriverService == null">
                        No hay conductor asignado
                    </td>
                    <td *ngIf="servicio.idDriverService != null">
                        {{servicio.idDriverService.userDriver.last_name}}
                        {{servicio.idDriverService.userDriver.last_name}}
                    </td>
                    <td>{{servicio.startAddress}}</td>             
                    <td>{{servicio.endAddress}}</td>
                    <td>{{servicio.amountPayment}}</td>                         
                </tr>
            </tbody>
        </table>
    </div>
    <div class="containerDownload">
        <img class="btn-download" src="assets/iconos/botonDescargar.png" (click)="exportexcel()" alt="btn1">
    </div>
    <div class="row">
        <button class="btn-cancelar" [mat-dialog-close]="true">Cancelar</button>
    </div>
</form>