<div class="img-bg">
  
      <div class="menu">
        <img id="logo" src="assets/iconos/efletex-logo.png" alt="logo" >
      <a class="nav-link" routerLink="/inicioProv">QUIÉNES SOMOS </a>
      <a class="nav-link" routerLink="/inicioProv">NUESTROS CLIENTES </a>
      <a class="nav-link" routerLink="/registroProv">TRABAJA CON NOSOTROS </a>
      <a class="nav-link" routerLink="/inicioProv">CONTÁCTANOS </a>
    </div>

  
  <h1 id="title">¡Únete a nuestro equipo!</h1>
      <form [formGroup]="firstFormGroup">
        <div class="izquierda">
          <div class="container">
            <h5>Nombres</h5>
            <mat-form-field appearance="legacy">
            <input matInput type="text" formControlName="nombresConductor" required>
            </mat-form-field>
          </div>
          <div class="container">
            <h5>Apellidos</h5>
            <mat-form-field appearance="legacy">
            <input matInput type="text" id="cedula" formControlName="apellidosConductor" required> 
            </mat-form-field>
          </div>
        <div class="container">
          <h5>Email</h5>
            <mat-form-field appearance="legacy">
              <input matInput type="text" formControlName="emailConductor" required> 
            </mat-form-field>
          </div>
          <div class="container">
            <h5>Cédula de identidad</h5>
            <mat-form-field appearance="legacy">
              <input matInput type="text" formControlName="cedulaConductor" required> 
            </mat-form-field>
          </div>
          <div class="container">
            <h5>Número celular</h5>
            <mat-form-field appearance="legacy">
              <input matInput type="text" formControlName="celularConductor" required/>
            </mat-form-field>
          </div>
          <div class="form-group form-check">
            <input 
              type="checkbox" 
              formControlName="acceptTerms" 
              id="acceptTerms" 
              class="form-check-input" 
              [ngClass]="{ 'is-invalid': submitted && form.acceptTerms.errors }" />
            <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
            <div *ngIf="submitted && form.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
          </div>
        </div>
      </form>
      <div class="row">
        <button class="btn-enviar" (click)="preRegistroConductor()">Enviar</button>
    </div>
</div>



<!-- <div>
<div>
          <button mat-button matStepperNext class="btnSgte">
            <img id="button" src="assets/iconos/siguiente.png" alt="Siguiente" height="40">
          </button>
  
        </div> 

  <div>
          <mat-checkbox required class="termycond"> Acepta los términos y condiciones del servicio</mat-checkbox>
          <button class="btnReg" mat-button [disabled]="!secondFormGroup.valid" [mat-dialog-close]="true"
            (click)="guardarProveedor()">REGISTRARSE</button>
        </div>

          

  
        </div> -->