<div class="img-bg">
  
      <div class="menu">
        <img id="logo" src="assets/iconos/efletex-logo.png" alt="logo" >
      <a class="nav-link" routerLink="/inicioProv">QUIÉNES SOMOS </a>
      <a class="nav-link" routerLink="/inicioProv">NUESTROS CLIENTES </a>
      <a class="nav-link" routerLink="/registroProv">TRABAJA CON NOSOTROS </a>
      <a class="nav-link" routerLink="/inicioProv">CONTÁCTANOS </a>
    </div>

  
  <h1 id="title">¡Únete a nuestro equipo!</h1>

  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup" >
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Información del proveedor</ng-template>
        <div class="izquierda">
          <div class="container">
            <h5>Nombres</h5>
            <mat-form-field appearance="legacy">
            <input matInput type="text" formControlName="nameDriver" required>
            </mat-form-field>
          </div>
          <div class="container">
            <h5>Apellidos</h5>
            <mat-form-field appearance="legacy">
            <input matInput type="text" id="cedula" formControlName="lnameDriver" required> 
            </mat-form-field>
          </div>
        <div class="container">
          <h5>Email</h5>
            <mat-form-field appearance="legacy">
              <input matInput type="text" formControlName="emailDriver" required> 
            </mat-form-field>
          </div>
          <div class="container">
            <h5>Cédula de identidad</h5>
            <mat-form-field appearance="legacy">
              <input matInput type="text" formControlName="ciDriver" required> 
            </mat-form-field>
          </div>
          <div class="container">
            <h5>Teléfono</h5>
            <mat-form-field appearance="legacy">
              <input matInput type="text" formControlName="phoneDriver" required/>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
  <div class="row">
        <button class="btn-enviar" (click)="modalEnvioExitoso()">Enviar</button>
    </div>
</div>



<!-- <div>
<div>
          <button mat-button matStepperNext class="btnSgte">
            <img id="button" src="assets/iconos/siguiente.png" alt="Siguiente" height="40">
          </button>
  
        </div> 

  <div>
          <mat-checkbox required class="termycond"> Acepta los términos y condiciones del servicio</mat-checkbox>
          <button class="btnReg" mat-button [disabled]="!secondFormGroup.valid" [mat-dialog-close]="true"
            (click)="guardarProveedor()">REGISTRARSE</button>
        </div>

          

  
        </div> -->