*{
    font-family: sans-serif;
    
}


div h1 {
    font-weight: bold;
    color:#E5242F;
    letter-spacing: -0.2px;
    font-size: 28px;
    margin-left: 12px;
    font-weight: 580;
}

textarea {
    width: 900px;
    height: 350px;
    margin-top: 14px;
    margin-left: 30px;
    background-color: #FFFFFF;
}

table thead th{
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #282F69;
}

table tr td{
    letter-spacing: 0.4px;
    color: #282F69;
}

.empresa{
    background-color: #b9e5fb;
    max-width: 1000px;
    margin-right: 10%;
}


.btn-editar{
    margin-left: 900px;
    border: none; 
    color:cornflowerblue;
    font-weight: bold;
    letter-spacing: 1px;
}

.input-img {
    position:absolute;
    bottom:10px;
    right:15px;
    width:30px;
    height:20px;
    margin-right: 5%;
}

input{
    background-color: #3EA3DC;
    border-radius: 5px;
    width: 15px;
}

.input-group{
    width: 25%;
    left: 700px;
    padding-top: 2%;
}

.input-group a{
    margin-right: 20px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFFFFF;
    opacity: 1; /* Firefox */
    font-size: 12px;
}

.editar{
    background-color: #E5242F;
    color:#FFFFFF;
    letter-spacing: 1px;
    
}

mat-card{
    margin: 2%;
}