<app-menu></app-menu>
<div  class="page-content">
    <h1>USUARIOS</h1>

    <div class="input-group md-form form-sm form-2 pl-0">
        <input class="form-control my-0 py-1 red-border search" type="text"  name="filtroUsuario" placeholder="Buscar" [(ngModel)]="filtroUsuario">
        <img class="input-img" src="./assets/iconos/botonLupa.png">
    </div>

    <table id="tabla-usuario">
        <tr>
            <th>Cedula</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Celular</th>
            <th>Estado</th>
            <th>Habilitar/Inhabilitar</th>
        </tr>
        <tr *ngFor="let cliente of clientes | filtrousuario: filtroUsuario">
            <td>{{cliente.userClient.cedula}}</td>
            <td>{{cliente.userClient.last_name}}</td>
            <td>{{cliente.userClient.first_name}}</td>
            <td>{{cliente.userClient.email}}</td>
            <td>{{cliente.userClient.celular}}</td>
            <td *ngIf="cliente.userClient.is_active">Habilitado </td>
            <td *ngIf="!cliente.userClient.is_active">Deshabilitado </td>
            <td><mat-slide-toggle 
                checked="{{cliente.userClient.is_active}}" 
                (change)="cambiarEstado(cliente.userClient.is_active,cliente.userClient.id)" >
            </mat-slide-toggle></td>
        </tr>
    </table>
    <div class="containerDownload">
        <img class="btn-download" src="assets/iconos/botonDescargar.png" (click)="exportexcel()" alt="btn1">
    </div>
</div>