<app-menu></app-menu>
<div  class="page-content">
    <h1>Historial</h1>
  
    <mat-tab-group dynamicHeight class="history">
      <mat-tab label="Proveedores"> 
        <h5>Información de Proveedores</h5>
        <mat-card>
          <mat-card-content>
            <div class="container">
              <table class="table">
                <thead>
                    <th>Cedula</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th>Estado</th>
                    <th>Calificación</th>
                    <th>Total $</th>
                </thead>
                <tr *ngFor="let proveedor of proveedores | filtroproveedor:filtroUsuario">
                    <td>0926443721</td><!--{{proveedor.cedula}}-->
                    <td>Gomez</td><!--{{proveedor.last_name}}-->
                    <td>Leonardo</td><!--{{proveedor.first_name}}-->
                    <td>leonardogp@gmail.com</td><!--{{proveedor.email}}-->
                    <td>0925334231</td><!--{{proveedor.celular}}-->
                    <td *ngIf="proveedor.is_active">Habilitado </td>
                    <td *ngIf="!proveedor.is_active">Deshabilitado </td>
                    <td>4</td><!--{{proveedor.rateDriver}}-->
                    <td>12,55</td>
                    <td class="detail-cell"><img class="detail-img" src="./assets/iconos/botonVerDetalle.png" (click)="detalleProveedor(proveedor)"></td>
                </tr>
            </table>
              
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
  
      <mat-tab label="Clientes">
        <h5>Información de Clientes</h5>
        <mat-card>
          <mat-card-content>
            <div class="container">
              <table class="table">
                <thead>
                    <th>Cedula</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th>Estado</th>
                    <th>Calificación</th>
                    <th>Total $</th>
                </thead>
                <tr *ngFor="let cliente of clientes | filtroproveedor:filtroUsuario">
                    <td>{{cliente.cedula}}</td>
                    <td>{{cliente.last_name}}</td>
                    <td>{{cliente.first_name}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.celular}}</td>
                    <td *ngIf="cliente.is_active">Habilitado </td>
                    <td *ngIf="!cliente.is_active">Deshabilitado </td>
                    <td>{{cliente.rateDriver}}</td>
                    <td>0</td>
                    <td class="detail-cell"><img class="detail-img" src="./assets/iconos/botonVerDetalle.png" (click)="detalleProveedor(proveedor)"></td>
                </tr>
            </table>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
          
      <mat-tab label="Servicios">
        <h5>Información de los servicios</h5>
        <mat-card>
          <mat-card-content>
            <div class="container">
              <table class="table">
                <thead>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Total $</th>
                </thead>
                <tr *ngFor="let servicio of servicios | filtroservicio:filtroServicio">
                  <td>{{servicio.nameTypeService}}</td>
                  <td>{{servicio.descriptionTypeService}}</td>
                  <td>0</td>
                  <td class="detail-cell"><img class="detail-img" src="./assets/iconos/botonVerDetalle.png" (click)="detalleServicio(servicio)"></td>
                </tr>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
