<app-menu></app-menu>
<div  class="page-content">
    <h1>Historial</h1>
  
    <mat-tab-group dynamicHeight class="history">
      <mat-tab label="Proveedores"> 
        <h5>Información de Proveedores</h5>
        <mat-card>
          <mat-card-content>
            <div class="container">
              <table class="table">
                <thead>
                    <th>Cedula</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th>Estado</th>
                    <th>Calificación</th>
                    <th>Total $</th>
                </thead>
                <tr *ngFor="let proveedor of proveedores | filtrousuario:filtroUsuario">
                    <td>{{proveedor.userDriver.cedula}}</td><!--{{proveedor.cedula}}-->
                    <td>{{proveedor.userDriver.last_name}}</td><!--{{proveedor.last_name}}-->
                    <td>{{proveedor.userDriver.first_name}}</td><!--{{proveedor.first_name}}-->
                    <td>{{proveedor.userDriver.email}}</td><!--{{proveedor.email}}-->
                    <td>{{proveedor.userDriver.celular}}</td><!--{{proveedor.celular}}-->
                    <td *ngIf="proveedor.userDriver.is_active">Habilitado </td>
                    <td *ngIf="!proveedor.userDriver.is_active">Deshabilitado </td>
                    <td>4</td><!--{{proveedor.rateDriver}}-->
                    <td>12,55</td>
                    <td class="detail-cell">
                      <img class="btn-detail" src="assets/iconos/botonVerDetalle.png" (click)="detalleProveedor(proveedor)">
                    </td>
                </tr>
            </table>
              
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
  
      <mat-tab label="Clientes">
        <h5>Información de Clientes</h5>
        <mat-card>
          <mat-card-content>
            <div class="container">
              <table class="table">
                <thead>
                    <th>Cedula</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th>Estado</th>
                    <th>Calificación</th>
                    <th>Total $</th>
                </thead>
                <tr *ngFor="let cliente of clientes | filtrousuario:filtroUsuario">
                    <td>{{cliente.userClient.cedula}}</td>
                    <td>{{cliente.userClient.last_name}}</td>
                    <td>{{cliente.userClient.first_name}}</td>
                    <td>{{cliente.userClient.email}}</td>
                    <td>{{cliente.userClient.celular}}</td>
                    <td *ngIf="cliente.userClient.is_active">Habilitado </td>
                    <td *ngIf="!cliente.userClient.is_active">Deshabilitado </td>
                    <td>{{cliente.rateDriver}}</td>
                    <td>0</td>
                    <td class="detail-cell">
                      <img 
                        class="btn-detail" 
                        src="assets/iconos/botonVerDetalle.png" 
                        (click)="detalleCliente(cliente)">
                    </td>
                </tr>
            </table>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
          
      <mat-tab label="Servicios">
        <h5>Información de los servicios</h5>
        <mat-card>
          <mat-card-content>
            <div class="container">
              <table class="table">
                <thead>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Total $</th>
                </thead>
                <tbody>
                  <tr *ngFor="let tipoServicio of tipoServicios | filtroservicio:filtroServicio">
                    <td>{{tipoServicio.nameTypeService}}</td>
                    <td>{{tipoServicio.descriptionTypeService}}</td>
                    <td>0</td>
                    <td class="detail-cell">
                      <img class="btn-detail" src="assets/iconos/botonVerDetalle.png" (click)="detalleServicio(tipoServicio)">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
