<app-menu></app-menu>
<div  class="page-content">
    <h1>Historial</h1>
  
    <mat-tab-group dynamicHeight class="history">
      <mat-tab label="Proveedores"> 
        <h5>Información de Proveedores</h5>
        <mat-card>
          <mat-card-content>
            <div class="container">
              <table class="table">
                <tr>
                    <th></th>
                    <th>Cedula</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th>Estado</th>
                    <th>Calificación</th>
                    <th>Total $</th>
                </tr>
                <tr *ngFor="let proveedor of proveedores | filtroproveedor:filtroUsuario">
                    <td>□</td>
                    <td>{{proveedor.cedula}}</td>
                    <td>{{proveedor.last_name}}</td>
                    <td>{{proveedor.first_name}}</td>
                    <td>{{proveedor.email}}</td>
                    <td>{{proveedor.celular}}</td>
                    <td *ngIf="proveedor.is_active">Habilitado </td>
                    <td *ngIf="!proveedor.is_active">Deshabilitado </td>
                    <td>{{proveedor.rateDriver}}</td>
                    <td>0</td>
                    <td><button (click)="detalleProveedor(proveedor)">Ver Detalle</button></td>
                </tr>
            </table>
              
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
  
      <mat-tab label="Clientes">
        <h5>Información de Clientes</h5>
        <mat-card>
          <mat-card-content>
            <div class="container">
              <table class="table">
                <tr>
                    <th></th>
                    <th>Cedula</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Celular</th>
                    <th>Estado</th>
                    <th>Calificación</th>
                    <th>Total $</th>
                </tr>
                <tr *ngFor="let cliente of clientes | filtroproveedor:filtroUsuario">
                    <td>□</td>
                    <td>{{cliente.cedula}}</td>
                    <td>{{cliente.last_name}}</td>
                    <td>{{cliente.first_name}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.celular}}</td>
                    <td *ngIf="cliente.is_active">Habilitado </td>
                    <td *ngIf="!cliente.is_active">Deshabilitado </td>
                    <td>{{cliente.rateDriver}}</td>
                    <td>0</td>
                    <td><button (click)="detalleProveedor(proveedor)">Ver Detalle</button></td>
                </tr>
            </table>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
          
      <mat-tab label="Servicios">
        <h5>Información de los servicios</h5>
        <mat-card>
          <mat-card-content>
            <div class="container">
              <table class="table">
                <thead>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Total $</th>
                </thead>
                <tr *ngFor="let servicio of servicios | filtroservicio:filtroServicio">
                  <td>{{servicio.nameTypeService}}</td>
                  <td>{{servicio.descriptionTypeService}}</td>
                  <td>0</td>
                  <td><button (click)="detalleServicio(servicio)">Ver Detalle</button></td>           
                  
                </tr>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
